.project-container {
    width: 100rem;
    height: 36rem;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 0.6rem;
    margin-bottom: 0.6rem;
}

.project {
    transition: transform 1s ease-in-out;
}

.titleee {
    transition: transform 1s ease-in-out;
}



.hovering {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0,0,0, 0.5);
    transition: all 1s ease-in;
}



.project-container:hover .project .titleee {
    animation: translateUp 1s ease-in forwards;
}

.project-container:hover .project .subtitle {
    display: none;
}

.project-container:hover .project .subtitle {
    animation: fadeOut 1s ease-in forwards;
    animation-delay: 1s;
}

.nothovering .subtitle{
    font-size: 20px;
}

@keyframes fadeOut {
    0% {
        opacity: 0;
        transform: scale(1);
        display: block;
    }
    100% {
        opacity: 1;
        transform: scale(0.4);
        display: block;
    }
}

@keyframes translateUp {
    0% {
        transform: translateY(0%);
    }
    100% {
        transform: translateY(-10%);
    }
}