.modal {
  width: clamp(50%, 700px, 90%);
  height: min(50%, 300px);
  margin: auto;
  padding: 0 2rem;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.orange-gradient {
  background: var(--gradient);
}

.green-gradient {
  background: var(--gradient2);
}

.pink {
  color: #c273ff;
}

.gray {
  color: #666666;
}

.light-blue {
  color: #00b7ff;
}

.modal-button {
  padding: 0 2rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  background: #101111;
  color: #ffaa00;
  border-radius: 4px;
  transition: background ease 400ms;
  box-shadow: 0px 0px 10px #03030399;
}

.project-section {
  border-radius: 1rem;
  background: var(--gradient);
  border-color: var(--gradient);
  color: white;
  transition: filter 300ms;
  margin-right: 30px;
  margin-left: 30px;
  justify-content: space-around;
  align-items: center;
  margin-left: 4rem;
  margin-right: 4rem;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  box-shadow: 0 10px 20px 0 rgb(0 0 0/0.5)
}

.project-section:hover {
  filter: brightness(1.1)
}