
@tailwind components;
@tailwind utilities;
@import-normalize;

body {
  margin: 0;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-attachment:fixed;
  min-width:fit-content;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: hsl(206, 21%, 94%);
  --bg-2: hsl(228, 22%, 77%);
  --bg-accent: #a7bad4;
  --text-color: #49536f;
  --nav-size: 70px;
  --border-radius: 8px;
  --speed: 500ms;
  --dark: #101315;
  --light: #eeeeee;
  --background-gradient: linear-gradient(10deg, #e4e9ee, #d4dae2);
  --gradient: linear-gradient(10deg, #bbcfde, #91b8db);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #b648ff, #ef5dff);
}





