
@tailwind components;
@tailwind utilities;
@import-normalize;

body {
  margin: 0;
  font-family: roboto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--background-gradient);
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --bg: #474951;
  --bg-accent: #383c42;
  --text-color: #dadce1;
  --nav-size: 70px;
  --border-radius: 8px;
  --speed: 500ms;
  --dark: #101315;
  --light: #eeeeee;
  --background-gradient: linear-gradient(10deg, #dbeaf3, #a2aef1);
  --gradient: linear-gradient(10deg, #7ebce3, #6773b3);
  --gradient2: linear-gradient(15deg, #04ea00, #00d17d);
  --gradient3: linear-gradient(15deg, #b648ff, #ef5dff);
}





